.calculator input {
    width: 3em;
}


.form-group {
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding: 0.7em;
    font-family: 'Roboto';
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.form-group label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}
.form-group input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}
input.valid {
    border: 1px solid #5BBE36;
    border-radius: 2px;
}
input.invalid {
    border: 1px solid #DD2626;
    border-radius: 2px;
}
.error {
    color: #DD2626;
    position: absolute;
}

.song-list {
    padding: 0.5em;
}
.song-list > * {
    background-color: #D6DAF6;
    padding: 0.2em 1em;
}
.song-list > :nth-child(even) {
    background-color: #C6CCF5;
}
.song-list > :hover {
    cursor: pointer;
    /* background-color: #8794EA; */
    background-color: white;
}
.song-list input {
    width: 8em;
}






/*  */
